.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252426;
    border-bottom: 2px solid #454446;
    height: 60px;
    z-index: 20;
}

.header .title {
    font-weight: 900;
    margin-left: 20px;
    font-size: 1.5rem;
}

#options {
    font-size: 1.1rem;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#options a:hover {
    cursor: pointer;
    text-decoration: underline;
}

li {
    vertical-align: middle;
}

.notificationsIcon {
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 5px ;
}

.notifications {
    position: relative;
}

.notifications .notificationsNumber {
    font-size: 1rem;
    position: absolute;
    background-color: #224782;
    padding-inline: 5px;
    border-radius: 20px;
    top: -10px;
    right: 12px;
    z-index: -5;
}

.notifications > li {
    top: 45px;
    position: absolute;
    background-color: rgba(81, 79, 79, 0.317);
    width: 320px;
    right: -140px;
}

.notifications > li {
    display: none;
}

ul {
    padding-inline-start: 0px;
}