.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #252426;
    border-radius: 10px;
}

.authorInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.profilePicture {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.authorName {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 800;
}

.authorName:hover {
    text-decoration: 2px underline;
}

.date {
    font-size: 0.9rem;
    margin-left: 10px;
}

.content {
    font-size: 1.2rem;
    padding-inline: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.impressions {
    font-size: 0.9;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-inline: 10px;
    margin-bottom: 5px;
}

.impressions .commentsCount {
    cursor: pointer;
}

.impressions .commentsCount:hover {
    text-decoration: underline;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    gap: 3px;
    font-size: 1.15rem;
    padding-inline-start: 0px;
}

.actions button {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding-block: 7px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button:hover {
    background-color: #85868733;
}

.trashIcon {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;
    height: 18px;
    width: 18px;
    padding: 5px;
}

.likeIcon {
    height: 20px;
    width: 20px;
}

.impressions .likes {
    display: flex;
    gap: 3px;
    align-items: center;
}

.actionsIcon {
    justify-self: center;
    height: 22px;
    width: 23px;
    fill: none;
    stroke: #9f9393;
    stroke-width: 30px;
    stroke-linejoin: round;
    margin-right: 10px;
}
