.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #3E4042;
    border-radius: 10px;
}

.authorInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.profilePicture {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.firstName {
    font-size: 1.2rem;
    margin-left: 10px;
    font-weight: 800;
}

.date {
    font-size: 0.9rem;
    margin-left: 10px;
}

.content {
    font-size: 1.2rem;   
    padding-inline: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.impressions {
    font-size: 0.9;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-inline: 10px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-block: 5px;
    font-size: 1.25rem;
}

.actions li {
    margin: auto;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
}