.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userInfo {
    padding-top: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #252426;
}

.userInfo .friends {
    margin-left: 20px;
}

.userInfo .name {
    font-size: 1.3rem;
    margin-left: 20px;
    font-weight: bold;
}

.userProfilePicture {
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 300px;
}

.addFriend {
    cursor: pointer;
    font-weight: 700;
    border: none;
    padding-block: 4px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 20px;
    width: 85%;
}